.user_description-new {


	float: left;


	/*height: 108px;*/


	overflow: hidden;


}


.clear-res {


	display:none;


}


#reset_to_default_order {


	margin-top: 0px !important;


}


.new-one-ndasd {


	float: right;


	margin-right: 46px;


	margin-top: -20px;


}


.whizz_page_users-list .main_div_head_text {


	margin-bottom: 35px;


}


td#users_list_admin {


	display: block;


	margin-top: 10px !important;


}


h1.plugin-new-title {


	float: left;


}


.addnew-button-new {


	float: left;


	margin-left: 15px;


	margin-top: 15px;


}


.errorshow-container {


	background: none repeat scroll 0 0 #fff;


	border-left: 4px solid #7ad03a;


	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);


	margin: 5px 3px 15px;


	padding: 1px 12px;


}


.name-of-plugin li {


	list-style: disc;


	font-weight:bold;


}


form.deletation-form-class {


	padding: 0 20px;


}


.name-of-plugin ul {


	padding-left: 15px;


}


.option-for-select {


	background: #f7f7f7;


	border-color: #ccc;


	box-shadow: 0 1px 0 #fff inset, 0 1px 0 rgba(0, 0, 0, 0.08);


	color: #555;


	vertical-align: top;


	border-radius: 3px;


	border-style: solid;


	border-width: 1px;


	box-sizing: border-box;


	cursor: pointer;


	display: inline-block;


	font-size: 13px;


	height: 28px;


	line-height: 26px;


	margin: 0;


	padding: 0 10px 1px;


	text-decoration: none;


	white-space: nowrap;


}


.option-for-select:hover {


	background: none repeat scroll 0 0 #fafafa;


	border-color: #999;


	color: #222;


}


.clear {


	clear:both;


}


.grid-view-class .li_inside_ul_list:nth-child(4n+1) {


	clear: both;


	margin-left: 0;


}


.grid-view-class .li_inside_ul_list:nth-child(2n+1) {


	margin-left: 0px !important;


}


.grid-view-class .li_inside_ul_list {


	background: none repeat scroll 0 0 #fff;


	border: 1px solid #dedede;


	margin: 0;


	margin: 0 4px 8px;


	width: calc(50% - 8px);


	float: left;


	box-sizing: border-box;


}


.grid-view-class .li_inside_ul_list {


	min-height: 260px;


}


/*.user_avtar {







































































    float: left;







































































    margin-right: 15px;







































































}















































































































































.user_name {







































































    margin-bottom: 7px;







































































}















































































































































.user_email {







































































    font-size: 14px;







































































    margin-bottom: 7px;







































































}















































































































































.user_name > a {







































































    font-size: 20px;







































































}















































































































































.user_delete-user-button {







































































    clear: both;







































































    float: left;







































































    margin-left: 15px;







































































}*/







































































	







































































	







































































	







































































	







































































	







































































	







































































	







































































	







































































	







































































	







































































.list-view-class .user_avtar {


	float: left;


	margin-right: 15px;


}


.list-view-class .user_name {


	margin-bottom: 7px;


}


.list-view-class .user_email {


	font-size: 14px;


	margin-bottom: 7px;


}


.list-view-class .user_name > a {


	font-size: 20px;


}


.list-view-class .user_delete-user-button {


	clear: both;


	float: left;


	margin-left: 15px;


}


/*.grid-view-class .li_inside_ul_list:nth-child(3n) {







































































    margin-right: 0;







































































}*/























































































































































































































/*







































































.grid-view-class .li_inside_ul_list {







































































    display: inline-block;







































































    float: left;







































































    margin-bottom: 40px;







































































    margin-right: 25px;







































































    width: 400px;







































































}*/























































































































































































































/* .grid-view-class .li_inside_ul_list {







































































    display: inline-block;







































































    float: left;







































































    margin-bottom: 40px;







































































    margin-right: 25px;







































































    min-height: 260px;







































































   width: 400px;







































































 width: calc(31.1% - 8px);







































































	 box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.4);







































































}*/































































































































































































































































































.grid-view-class .user_avtar {


	float: left;


	margin-right: 15px;


}


.grid-view-class .user_name a {


	font-size: 18px;


}


.grid-view-class .user_name {


	margin-bottom:7px;


}


.grid-view-class .user_email {


	font-size: 14px;


	margin-bottom: 7px;


}


.tb-new-enw {


	margin-top: -30px;


}


.ui-sortable {

/*
	margin-top: -5px;*/


}


.user_name {


	margin-top:15px;


}


.grid-view-class .user_delete-user-button {


	clear: both;


	margin-top: 20px;


	text-align: left;


	margin-left: 0px;


	padding-top: 5px;


}


.li_inside_ul_list {


	background: none repeat scroll 0 0 #fff;


	border-left: 1px solid #e5e5e5;


	border-right: 1px solid #e5e5e5;


	border-top: 1px solid #e5e5e5;


	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);


	margin: 0;


	padding: 12px 10px;


}


.col-md-6 {


	width:50%;


	float:left;


}


.span6.col-md-6 {


	margin: 0 10px;


	width: calc(50% - 20px);


}


.li_inside_ul_list ul {


	margin-top: 5px;


}


.clear {


	clear:both;


}


.span6.col-md-6 li {


	display: inline-block;


	margin: 0 5px 0 0;


}


.plugin_name_list {


	color: #000;


	font-size: 14px;


	font-weight: bold;


}


.li_inside_ul_grid {


	background: none repeat scroll 0 0 #fff;


	border: 1px solid #dedede;


	margin: 0;


	margin: 0 8px 16px;


	width: calc(50% - 8px);


	float:left;


	box-sizing: border-box;


}


.main_div_inside_li_grid {


	padding: 20px 20px 10px;


}


.li_inside_ul_grid:nth-child(2n+1) {


	clear: both;


	margin-left: 0;


}


.li_inside_ul_grid:nth-child(2n) {


	margin-right: 0;


}


.plugin_desc_list {


	font-size: 13px;


	line-height: 1.5em;


}


.li_inside_ul_grid .plugin_name_grid {


	color: #0074a2;


	font-size: 15px;


	font-weight: bold;


}


.bottam_div_inside_li_grid {


	background-color: #fafafa;


	border-top: 1px solid #dedede;


	clear: both;


	overflow: hidden;


	padding: 12px 20px;


}


.plugin_author_name_grid strong {


	font-style: normal;


}


.plugin_author_name_grid {


	float: right;


	font-style: italic;


}


.plugin_version_grid {


	float: left;


}


.plugin_name_grid, .plugin_desc_grid {


	margin-bottom: 10px;


}


.plugin_desc_grid {


	font-size:13px;


	line-height:1.5;


}


.li_inside_ul_grid ul li {


	display: inline-block;


	margin-right: 10px;


}


.main_div_head_text {


	background: none repeat scroll 0 0 rgb(255, 255, 255);


	border: 1px solid rgb(229, 229, 229);


	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);


	box-sizing: border-box;


	color: rgb(85, 85, 85);


	display: inline-block;


	font-size: 13px;


	margin: 12px 0 25px 0px;


	padding: 13px 20px 15px;


	position: relative;


	width: 100%;


}


/*.main_div_head_text {







































































    background: none repeat scroll 0 0 #fff;







































































    border: 1px solid #e5e5e5;







































































    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);







































































    box-sizing: border-box;







































































    color: #555;







































































    display: inline-block;







































































    font-size: 13px;







































































    margin: 12px 0 25px 6px;







































































    padding: 0 20px;







































































    position: relative;







































































    width: 98.8%;







































































}*/







































































.main_div_head_text li {


	display:inline-block;


}


.main_div_head_text li a {


	color:#666;


	text-decoration:none;


	margin: 0 10px;


	padding: 15px 0;


}


.main_div_head_text li a:hover, .main_div_head_text .head_text_li a {


	border-bottom: 4px solid #666;


	box-shadow: none;


	color: #2ea2cc;


	padding:8px 0;


}


.ui-sortable li a {


	text-decoration: none;


}


ul.heading_filters {


	float: left;


}


ul.heading_text {


	float: right;


}


 @media screen and (min-width: 1200px) and (max-width:1550px) {


.list-view-check-button-new {


	position: relative;


	top: 2px;


}


}


 @media screen and (min-width: 1600px) {


.list-view-check-button-new {


	position: relative;


	top: 5px;


}


.grid-view-class .li_inside_ul_list:nth-child(2n+1) {


	margin-left: 0;


}


.grid-view-class .li_inside_ul_list:nth-child(3n+1) {


	clear: none;


}


.grid-view-class .li_inside_ul_list {


	width: calc(33.1% - 8px);


}


.grid-view-class .li_inside_ul_list:nth-child(4n+1) {


	clear: both;


	margin-left: 0;


}


.grid-view-class .li_inside_ul_list:nth-child(3n) {


	margin-right: 0px;


	margin-left: 4px !important;


}


.grid-view-class .li_inside_ul_list:nth-child(4n) {


	margin-right: 8px;


	margin-left: 0;


}


.plugin-card:nth-child(3n) {


	margin-right: 0;


}


.grid-view-class .li_inside_ul_list:nth-child(2n+1) {


	clear: none;


	margin-left:0px;


}


.main_div_inside_li_grid {


	min-height: 135px;


}


.bottam_div_inside_li_grid {


	height: 60px;


}


}


 @media screen and (max-width: 700px) {


#plugin_list_td #list_view_plugin .li_inside_ul_list {


	padding: 12px 20px 12px 10px !important;


}


.main-new-addnew-button .addnew-button-new {


	margin-left: 0 !important;


}


.addnew-button-new {


	margin-left: 30px !important;


}


.tb-new-enw td {


	display: block;


}


.clear-res {


	clear:both;


	height: 10px;


	display:block;


}


.tb-new-enw select#bulk_action {


	width: 50%;


}


.tb-new-enw select#item_per_page {


	width: 30px;


}


.atoz-cls {


	font-size: 14px !important;


	margin-top: 10px;


	text-align: center;


}


#bulk_action_submit.button {


	margin-top: 3px;


}


.tb-new-enw #reset_to_default_order {


	margin-top: 10px !important;


}


.tb-new-enw #search_users_submit.button {


	width: 100%;


}


.tb-new-enw .new-new-new-one-two {


	display: inline !important;


}


.tb-new-enw input#search_users {


	float: left !important;


	height: 30px !important;


	width: 64% !important;


}


.tb-new-enw input#search_users_submit.button {


	float: left !important;


	width: 35% !important;


}


.tb-new-enw #reset_to_default_order.button {


	padding-left:7px;


	padding-right:7px;


}


.tb-new-enw .make-me-small-fontr-zie {


	font-size: 14px;


}


}


